/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}

header {
    background-color: #e0e0e0; 
    color: #333;
    padding: 1rem;
    position: relative; 
}

footer {
    background-color: white; 
    padding: 20px 40px; 
    text-align: center; 
    border-top: 1px solid #dee2e6; 
    color: #495057; 
    font-size: 14px; 
    height: 120px;
}

footer a {
    color: hsl(233, 18%, 61%); 
    text-decoration: none; 
}

.top-menu ul {
    position: absolute;
    right: 25px;
    top: 15px;
    list-style: none;
}

.top-menu ul li {
    display: inline;
    margin-left: 10px;
}

.top-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: lighter;
    font-size: 13px;
    padding: 0.5rem;
    border-radius: 5px;
}

.header-title {
    text-align: center;
    font-size: 70px;
    margin: 30px 0 30px; 
}

.header-title a {
    text-decoration: none;
    color: #333;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}
/* ---------------------------------------------- */

.form-section {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
    border: 1px solid #ddd; 
}

.section-title {
    font-size: 2rem;
    color: #0056b3; 
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700; 
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0; 
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05); 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.2); 
}


input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    background-color: #f2f2f2; 
    margin: 10px 5px 0 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    border-radius: 50%; 
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: #0056b3; 
    border-color: #004494; 
}

input[type="radio"]:checked::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

button {
    background-color: #0056b3; 
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004494; 
}

input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; 
    border: 1px solid #ccc;
    cursor: pointer;
}

@media (max-width: 768px) {
    /* Responsive adjustments for smaller screens */
    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 100%; /* Full width on smaller screens */
    }

    .top-menu ul, .section-title {
        text-align: center;
    }
}

address {
    margin-top: 15px;
    font-style: normal; 
    line-height: 1.5; 
}